<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>
  </title>
</head>

<body>
  <h1>Welcome to the Number Obfuscation Service!</h1>

  <form action='number_obfuscator_cgi.rb' method='get'>
    <table>
      <tr>
        <td>Enter the number you want to obfuscate:</td>

        <td><input type='text' name='n' value='34'>
        </td>
      </tr>
      <tr>
        <td>Enter the desired obfuscation complexity (1-8):</td>

        <td><input type='text' name='d' value='4'>
        </td>
      </tr>
    </table>
    <input type="submit" value='Generate'>
  </form>

  <hr>
  You can download the latest version of the code here: <a href=
  "XXXVERSIONXXX">XXXVERSIONXXX</a><br>
  Or go <a href="/code/obfuscator">here</a> for older versions.<br>
</body>
</html>

