<html>
  <body>
    <h1>Welcome to the Number Obfuscation Service!</h1>
    <form action='number_obfuscator_cgi.rb' method='GET'>
      Enter the number you want to obfuscate: <input type='text' name='n' value='34'><br/>
      Enter the desired obfuscation complexity (1-8): <input type='text' name='d' value='4'><br/>
      <input type=submit value='Generate'>
    </form>
    <hr/>
    You can download the latest version of the code here:
    <a href="XXXVERSIONXXX">XXXVERSIONXXX</a><br/>
    Or go <a href="/code/obfuscator">here</a> for older versions.<br/>
  </body>
</html>

